appdirs==1.4.3
asgiref==3.2.3
attrs==19.3.0
black==19.10b0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
Django==3.1.9
docker==4.1.0
entrypoints==0.3
flake8==3.7.9
idna==2.8
jsonfield==2.0.2
mccabe==0.6.1
pathspec==0.6.0
pycodestyle==2.5.0
pycountry==19.8.18
pyflakes==2.1.1
python-barcode==0.10.0
pytz==2019.3
regex==2019.12.19
requests==2.22.0
six==1.13.0
sqlparse==0.3.0
toml==0.10.0
typed-ast==1.4.0
urllib3==1.25.7
websocket-client==0.56.0
